@{
    this.ViewData[GlobalConstants.Title] = "Начало";
}

<!-- Home -->
<div id="header">
    <div class="flexslider">
        <ul class="slides">
            <li class="slider-item text-center">
                <div class="intro container">
                    <div class="inner-intro">
                        <h1 class="header-title">
                            <span>пътуване</span>
                        </h1>

                        <a asp-action="Travel" asp-controller="Bookings" class="btn custom-btn">
                            запази
                        </a>
                    </div>
                </div>
            </li>
            <li class="slider-item">
                <div class="intro">
                    <div class="inner-intro">
                        <h1 class="header-title">
                            <span>багаж</span>
                        </h1>
                        <a asp-action="Baggage" asp-controller="Bookings" class="btn custom-btn">
                            изпрати
                        </a>
                    </div>
                </div>
            </li>
            <li class="slider-item">
                <div class="intro">
                    <div class="inner-intro">
                        <h1 class="header-title">
                            <span>Домашен любимец</span>
                        </h1>
                        <a asp-action="Animal" asp-controller="Bookings" class="btn custom-btn">
                            изпрати
                        </a>
                    </div>
                </div>
            </li>
            <li class="slider-item">
                <div class="intro">
                    <div class="inner-intro">
                        <h1 class="header-title">
                            <span>мотор</span>
                        </h1>
                        <a asp-action="Vehicle" asp-controller="Bookings" class="btn custom-btn">
                            изпрати
                        </a>
                    </div>
                </div>
            </li>
            <!-- /.slider-item -->
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /#header -->
<!-- Our Blazzing offers -->
<section class="offer section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Австрия
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pricing">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Дания
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pricing">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Белгия
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pricing">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Нидерландия
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pricing">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Германия
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pricing">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        България - Унгария
                    </h3>
                    <p style="font-size: 17px">
                        Пътуване: 150€ <br />
                        Домашен любимец: 100€ до 200€ <br />
                        Мотор: 200€ до 400€ <br />
                        Багаж: <br />
                        - Малка чанта: 20€ <br />
                        - Средна чанта: 30€ <br />
                        - Голяма чанта: 40€
                    </p>
                </div>
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section> <!-- /.offer -->
<!-- Top place to visit -->
<section class="visit section-wrapper">
    <div class="container">
        <div class="owl-carousel visit-carousel" id="">
            <div class="item">
                <img src="./images/visit-1.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="./images/visit-2.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="./images/visit-3.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="./images/visit-1.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="./images/visit-2.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="./images/visit-3.png" alt="visit-image" class="img-responsive visit-item">
            </div>
            <div class="item">
                <img src="~/images/test.jpg" alt="visit-image" class="img-responsive visit-item" style="height: 408px;">
            </div>
        </div>
    </div> <!-- /.container -->
</section> <!-- /.visit -->