
<section class="contacts section-wrapper" style="margin-top: 200px">
    <div class="container">
        <div class="row">
            <a asp-action="Bookings" asp-controller="Dashboard" asp-area="@GlobalConstants.AdministrationArea">
                <div class="col-sm-6" style="margin-bottom: 20px">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-document-text"></i>
                        </div>
                        <div class="contact-name">
                            Заявки
                        </div>
                    </div>
                </div>
            </a>
            <a asp-action="Users" asp-controller="Dashboard" asp-area="@GlobalConstants.AdministrationArea">
                <div class="col-sm-6">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-person"></i>
                        </div>
                        <div class="contact-name">
                            Потребители
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
