@model BookingInputBaseModel

<div class="form-group">
    <label asp-for="FirstName"></label>
    <span asp-validation-for="FirstName"></span>
    <input asp-for="FirstName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="LastName"></label>
    <span asp-validation-for="LastName"></span>
    <input asp-for="LastName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber"></label>
    <span asp-validation-for="PhoneNumber"></span>
    <input asp-for="PhoneNumber" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="OriginCountry"></label>
    <span asp-validation-for="OriginCountry"></span>
    <input asp-for="OriginCountry" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="OriginCity"></label>
    <span asp-validation-for="OriginCity"></span>
    <input asp-for="OriginCity" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="OriginAddress"></label>
    <span asp-validation-for="OriginAddress"></span>
    <input asp-for="OriginAddress" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DestinationCountry"></label>
    <span asp-validation-for="DestinationCountry"></span>
    <input asp-for="DestinationCountry" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DestinationCity"></label>
    <span asp-validation-for="DestinationCity"></span>
    <input asp-for="DestinationCity" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DestinationAddress"></label>
    <span asp-validation-for="DestinationAddress"></span>
    <input asp-for="DestinationAddress" class="form-control" />
</div>
