@using TravelBooking.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/about.css">
    <link rel="stylesheet" href="~/css/contact.css">
    <link rel="stylesheet" href="~/css/flexslider.css">
    <link rel="stylesheet" href="~/css/ionicons.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/section.css">
    <link rel="stylesheet" href="~/css/services.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" asp-controller="Home" asp-area="" class="navbar-brand" title="HOME"><i class="ion-paper-airplane"></i> euro <span>travel</span></a>
            </div> <!-- /.navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Index" asp-controller="Home" asp-area="">Home</a></li>
                     <li><a asp-action="Index" asp-controller="Home" asp-area="">Home2</a></li>
                    <li><a asp-action="Travel" asp-controller="Bookings" asp-area="">Пътуване</a></li>
                    <li><a asp-action="Animal" asp-controller="Bookings" asp-area="">Животно</a></li>
                    <li><a asp-action="Baggage" asp-controller="Bookings" asp-area="">Багаж</a></li>
                    <li><a asp-action="Vehicle" asp-controller="Bookings" asp-area="">Мотор</a></li>
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Login">Вход</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
                    }
                    else
                    {
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li><a asp-action="Index" asp-controller="Dashboard" asp-area="@GlobalConstants.AdministrationArea">Админ</a></li>
                        }

                        <li><a asp-area="Identity" asp-page="/Account/Logout">Изход</a></li>
                    }
                </ul> <!-- /.nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <partial name="_CookieConsentPartial" />

    @this.RenderBody()

    <!-- /.contacts -->
    <section class="contacts section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="margin-bottom: 20px">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-android-map"></i>
                        </div>
                        <div class="contact-name">
                            Address
                        </div>
                        <div class="contact-detail">
                            Asowld Avenew P.O Box <br>
                            353 Mountain View. United States of America.
                        </div>
                    </div> <!-- /.contact -->
                </div> <!-- /.col-sm-4 -->
                <div class="col-sm-4" style="margin-bottom: 20px">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-ios-telephone"></i>
                        </div>
                        <div class="contact-name">
                            Phone
                        </div>
                        <div class="contact-detail">
                            Local: 1-800-523-hello <br>
                            Mobile: 1-400-623-hello
                        </div>
                    </div> <!-- /.contact -->
                </div> <!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-email"></i>
                        </div>
                        <div class="contact-name">
                            Email Address
                        </div>
                        <div class="contact-detail">
                            info@themewagon.com <br>
                            <a href="http://www.themewagon.com">www.themewagon.com</a>
                        </div>
                    </div> <!-- /.contact -->
                </div> <!-- /.col-sm-4 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <ul class="social-icon text-white">
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
        </ul>
    </section>
    <!-- /.contacts -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="text-left">
                        &copy; Copyright Euro Travels
                    </div>
                </div>
                <div class="col-xs-4">
                    Theme by <a href="http://www.themewagon.com">THEMEWAGON</a>
                </div>
                <div class="col-xs-4">
                    <div class="top">
                        <a href="#header">
                            <i class="ion-arrow-up-b"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/script.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
