<section class="section-background">
    <div class="container">
        <h2 class="page-header">
            Вашата заявка беше приета успешно, ще се свържем с вас за подвърждение
        </h2>
        <ol class="breadcrumb">
        </ol>
    </div>
</section>